<h1>Update Password</h1>
<form action="<%= update_password_url(@user) %>" method="post" >
  <%= auth %>
  <input type="hidden" name="password_reset_token" value="<%= @user.password_reset_token %>" >

	<roundform>
		<input type='password' name='user[password]' placeholder='password'>
	</roundform>
  <label>Update password
    <input type='submit' value='Update password'>
  </label>
</form>