<h1>Reset password</h1>
<form action="<%= password_reset_url %>" method="post">
  <%= auth %>
	<roundform>
		<input type='email' name='email' placeholder='email'>
	</roundform>
<input type="submit" value="Reset Password">
</form>