
<p>To reset your password, click the URL below.</p>

<%= link_to "Reset Password", edit_password_reset_url(@user, @user.password_reset_token) %>

<p>If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.</p>