<form action='' style='text-align:center;' method='POST'>
  <h3>New Client</h3>
  <roundform>
    <input
      type='text'
      name='company[email]'
      value='<%= company.escape("email") %>'
      placeholder='Contact Email'>
    <input
      type='text'
      name='company[name]'
      value='<%= company.escape("name") %>'
      placeholder='Company Name'>
    </roundform>
  <button type='submit' >Create</button>
</form>