
<input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
<p>
 <label>Description
   <input name="invoice[description]" type="textarea" />
 </label>
</p>
<p>
 <label>Sender:
   <span><%= current_company.name %></span>
   <%= link_to "Change Company"%>
  </label>
</p>
<p>
 <label>Client
   <!-- <input name="invoice[receiver_id]" type="integer" /> -->
   <select name="invoice[receiver_id]">
      <% @relationships.each do |company| %>
       <option value="<%= company.id %>">
      <%= company.name %>
     </option>
     <% end %>
   </select>
 </label>
 <%= link_to "New Client", new_relation_url %>
</p>
<p>
 <label>Sent Date
   <input name="invoice[issue_date]" type="date" value=<%= Date.today %> />
 </label>
</p>
<p>
 <label>Due Date
   <input name="invoice[due_date]" type="date" value=<%= (Date.today+60.days) %> />
 </label>
</p>
<hr>
<div id="charge_form">
<p>
   <label>Description
     <input name="charges[1][description]" type="textarea" />
   </label>
  </p>
  <p>
   <label>Amount
     <input name="charges[1][amount]" type="integer" />
   </label>
  </p>
</p>
</div>