<h1>New Invoice</h1>
<form action="<%= invoices_url %>" method='post'>
  <% if current_company %>
    <%= render "/invoices/form"%>
  <% else %>
  <p>
    Please pick or create a company in your <%= link_to "profile", edit_user_url(current_user.id) %>
  </p>
  <% end %>
  <button type='submit'>Charge the Bastards</button>
</form>