<h1><%= @invoice.description %> </h1>

<p>
	Issued: <%= @invoice.issue_date %>
</p>
<p>
	Due: <%= @invoice.due_date %>
</p>
<p>
	Sender: <%= Company.find(@invoice.sender_id).name %>
</p>
<p>
	Receiver: <%= Company.find(@invoice.receiver_id).name %>
</p>

<% total = 0 %>

<ul>
	<% @invoice.charges.each do |charge| %>
	<% total += charge.amount %>
	<li>
		<hr>
		<p>
			<%= link_to charge.description, charge %>
		</p>
		<p>
			<%= format_dec(charge.amount) %>
		</p>
	</li>
	<% end %>
	<hr>
	TOTAL: <%= format_dec(total) %>
</ul>

