<input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
<p>
 <label>Other Users
   <select name="relation[receiver_id]">
       <% @companies.each do |company| %>
     <option value="<%= company.id %>">
       <%= company.name %>
     </option>
     <% end %>
   </select>
 </label>
</p>
</div>