<h1>Your Business Relationships</h1>
<form action="<%= relations_url %>" method='post'>
<input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
<ul>
  <% @relations.each do |relation| %>
    <li>
      <%= link_to relation.company, relation %>
    </li>
  <% end %>
</ul>