
<div id='modal-main'>
<h2> <%= description %> </h2>
<h3>Total: <%= total %></h3>
<ul>
  <% _.each( charges, function(charge){ %>
  <li class='charge' data-id="<%= charge.get('id')%>">
      <a href='#'>
          <%= charge.get("description") %>
      </a>
  </li>
  <hr>
    <% }); %>
</ul>
</div>