<overlay2 class='hide hidden trans'></overlay2>
<div id='new_company_form' class='trans modal modal2 hide hidden'>
</div>
<p>
 <label>Description
   <input name="invoice[description]" type="textarea" />
 </label>
</p>
<p>
 <label>Sender:
   <span><%= current_company.name %></span>
  <a href="#">Change Company</a>
  </label>
</p>
<p>
 <label>Client
   <select id='potentialclients' name="invoice[receiver_id]">
   </select>
 </label>
 <a class='editAction' data-action='addClient' href="#">New Client</a>
</p>
<p>
 <label>Sent Date
   <input name="invoice[issue_date]" type="date" value="<%= today %>" />
 </label>
</p>
<p>
 <label>Due Date
   <input name="invoice[due_date]" type="date" value="<%= due %>" />
 </label>
</p>
<hr>
<div id="charges">
<p>
   <label>Description
     <input name="charges[1][description]" type="textarea" />
   </label>
  </p>
  <p>
   <label>Amount
     <input name="charges[1][amount]" type="integer" />
   </label>
  </p>
</p>
</div>
<p>
<input type="submit">Send</input>
</p>