<choiceset class="group">
  <choice data-id="received">Received</choice>
  <choice data-id="sent">Sent</choice>
  <newInvoice data-id="create">New Invoice</newInvoice>
</choice-set>
<br>
<h1><%= title %></h1>
