
<h2> <%= title %> </h2>
<h3>Total: <%= total %></h3>
<ul>
  <% _.each( invoices, function(invoice){ %>
  <li class='invoice' data-id="<%= invoice.get('id')%>">
      <a href='#'>
          <%= invoice.get("description") %>
      </a>
  </li>
  <hr>
    <% }); %>
</ul>