<h1><%= @user.email %></h1>
<input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
<label>Email
  <input name="user[email]" type="email" value="<%= @user.email %>"/>
</label>


<h3>Current Company</h3>
<p>Your current company is <%= current_company.nil? ? 'unset' : current_company.name %></p>

<h2>Companies</h2>
<ul>
<% @user.companies.each do |company| %>
  <table>
    <tr>
    <td><%= link_to company.name, company %></td>
    <td>
      <% unless current_company == company %>
      <%= button_to "Make Current Company", set_current_company_url(company.id) %>
      <% end %>
    </td>
  </tr>
  </table>
<% end %>
</ul>

