<h3>Sign Up</h3>
<form action='/users' method='post'>
  <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
	<roundform>
		<input type='email' name='user[email]' placeholder='email'>
		<input type='password' name='user[password]' placeholder='password'>
	</roundform>
	<button type='submit' 
    class='submit'>Sign Up</button>
</form>
<a href='<%= new_session_url %>'>Or Log In!</a>