<table>
  <tr>
    <td><% if current_user %>
      <%= button_to "Log Out", session_url(current_user.id), method: :delete  do %>
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
      <% end %>
    <% end %>
    </td>
    <td><%= link_to "Home", root_url %></td>
    <td><%= link_to "Invoices", invoices_url %></td>
    <td><%= link_to "Charges", charges_url %></td>
    <td><%= link_to "Companies", companies_url %></td>
    <% if current_user %>
      <td><%= link_to "Profile", edit_user_url(current_user) %></td>
    <% end %>

  </tr>
</table>