<input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
<p>
 <label>Name
   <input name="company[name]" type="text" />
 </label>
</p>
<p>
 <label>Address
   <input name="company[addr1]" type="text" />
   <br>
   <input name="company[addr2]" type="text" />
  </label>
</p>
<p>
 <label>State
   <input name="company[state]" type="text" />
  </label>
</p>
<p>
 <label>Country
   <input name="company[country]" type="text" />
  </label>
</p>
<p>
 <label>Zip
   <input name="company[zip]" type="text" />
  </label>
</p>
<!-- add owner management and employee management -->