<h1>Edit <%= @company.name %></h1>
<form action="<%= companies_url %>" method='post'>
  <input type='hidden' value='put' name='_method' >

<%= render "form"%>

  <button type='submit'>Create Company</button>
</form>