<p>
 <label>Name
   <%= @company.name %>
 </label>
</p>
<p>
 <label>Address
   <%= @company.addr1 %>
   <br>
   <%= @company.addr2 %>
  </label>
</p>
<p>
 <label>State
   <%= @company.state %>
  </label>
</p>
<p>
 <label>Country
   <%= @company.country %>
  </label>
</p>
<p>
 <label>Zip
   <%= @company.zip %>
 </label>
</p>

<ul>
  <% @company.employees.each do |employee| %>
  <li>
    <%= link_to employee.email, employee %>
  </li>
  <% end %>
</ul>
