<div id='user-id'class='hide'>
  <%= current_user.id %>
</div>

<overlay class=' hide hidden trans'></overlay>

<div id='charges_modal' class='trans modal hide hidden'></div>
<div id='profile_modal' class='trans modal hide hidden'></div>
<div id='companies_modal' class='trans modal hide hidden'></div>
<div id='form_modal' class='trans modal hide hidden'></div>

<div id='main'>
  <div id='header'>
    <ul>
      <li class='mainitem' data-action='companies'>
        Companies
        <ul>
          <companies>
          </companies>
        </ul>
      </li>
      <li class='mainitem' data-action='profile'>
        Profile
      </li>
      <li class='mainitem' data-action='newInvoice'>
        New Invoice
      </li>
    </ul>
  </div>
  <h1>Your Invoices</h1>
  <div id='invoices'></div>
</div>


<messenger class='messenger hidden hide'>
</messenger>
<failmessenger class='messenger hidden hide'>
</failmessenger>
<successmessenger class='messenger hidden hide'>
</successmessenger>