/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
potentialclients, invoicecharges {
  display: block;
}
.group:after {
  content: "";
  clear: both;
  display: block;
}

choiceset {
  display: block;
}


overlay{
  display:block;
  background-color: gray;
  opacity: .95;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

.hidden{ opacity:0; z-index:-1 !important;}

.trans  {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.blue{
  background-color: blue;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
}

overlay2 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  display: block;
  z-index: 13;
}

.modal {
  z-index: 11;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  opacity:0;
}

.modal2{
  z-index: 16;
}

.hidden{ opacity:0; z-index:-1 !important;}
.hide{display:none !important;}
.trans  {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.modal_active {
  opacity: 1;
  background-color: white;
}


choice {
  color: darkgreen;
  display: block;
  width: 100px;
  float: left ;
  text-align: center;
  background-color: lightgray;
  padding: 2px;
  border-radius: 4px;
  margin-right: 40px;
}


#invoices div {
  width: 45%;
  margin:2.5%;
  float: left;
}

#main {
  width: 90%;
  margin-left:5%;
}

ul { list-style-type: none;}

