roundform {
  display:block;
  width: 240px;
  margin:auto;
}
roundform input {
  height: 32px;
  margin:0px;
  padding:4px;
  font-size:14px;
  display:block;
  width:100%;
  border: 1px solid grey;
}

roundform input:nth-of-type(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

roundform input:nth-of-type(2) {
  border-top:none;
}

roundform input:nth-last-of-type(2) {
  border-bottom:none;
}

roundform input:nth-last-of-type(1) {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}