.messenger {
  display: block;
  position:absolute;
  width: 20%;
  z-index:20;

  margin-left: 40%;
  top: 120px;
  text-align:center;
  line-height: 34;
  border-radius: 18px;
  background-color: grey;
  font-size:14;

}

failmessenger {
  -moz-box-shadow: 0px 2px 22px 15px rgb(236, 141, 141);
  -webkit-box-shadow: 0px 2px 22px 15px rgb(236, 141, 141);
  box-shadow: 0px 2px 22px 15px rgb(236, 141, 141);
}

successmessenger {
  -moz-box-shadow: 0px 2px 22px 15px rgb(155, 204, 132);
  -webkit-box-shadow: 0px 2px 22px 15px rgb(155, 204, 132);
  box-shadow: 0px 2px 22px 15px rgb(155, 204, 132);
}

messenger {
  -moz-box-shadow: 0px 2px 22px 15px rgb(157,166,175);
  -webkit-box-shadow: 0px 2px 22px 15px rgb(157,166,175);
  box-shadow: 0px 2px 22px 15px rgb(157,166,175);
}