<input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
 <label>Email
   <input name="user[email]" type="email" />
 </label>

 <label>Password
   <input name="user[password]" type="password" />
 </label>
