<p>
   <label>Description
     <input
       name="charges[][description]"
       type="textarea"
       value='<%= charge.get("description") %>'>
   </label>
  </p>
  <p>
   <label>Amount
     <input
       name="charges[][amount]"
       type="integer"
       value='<%= charge.get("amount") %>'>
   </label>
  </p>
</p>