<input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
<p>
 <label>Description
   <input name="charge[description]" type="textarea" />
 </label>
</p>
<p>
 <label>Invoice Number
   <input name="charge[invoice_id]" type="integer" />
 </label>
</p>
<p>
 <label>Amount
   <input name="charge[amount]" type="integer" />
 </label>
</p>