<h1>All the Inbound Charges</h1>
<% if current_company %>
<ul>

<% @charges_in.each do |charge| %>

<hr>
<li> <%= link_to charge.description, charge %>, <%= format_dec(charge.amount) %></li>

<% end %>


</ul>


<h1>All the Outbound Charges</h1>
<ul>

<% @charges_out.each do |charge| %>

<hr>
<li> <%= link_to charge.description, charge %>, <%= format_dec(charge.amount) %></li>
<% end %>


<% else %>
<p>
  Please pick or create a company in your <%= link_to "profile", edit_user_url(current_user.id) %>
</p>

<% end %>


</ul>