<!DOCTYPE html>
<html>
<head>
  <title>Invoicer Login</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div style='width:400px;margin:auto;margin-top:220px;text-align:center;'>
<%= flash_errors %>
<%= yield %>

</body>
</html>
